:root{
    --dark: #463F3A;
    --light: #F4F3EE;
    --gray: #BCB8B1;
    --pop: #E0AFA0;
    --main-font:'trebuchet ms', 'open sans';
}

body {
    background-color: var(--dark) ;
}

h1 {
    font-family: var(--main-font);
    font-weight: bold;
    color: var(--light);
    font-size: 135px;
}

.title {
    padding-left: 310px;
    padding-top: 230px;
}

.custom-btn{
    margin-left: 510px;
    padding: 5px 30px 5px 30px;
    background-color: var(--pop);
    border-color: var(--pop);
    color: var(--dark);
}

#self {
    display: block;
    position: absolute;
    /* adds filter to photo  */
    
    right: 413px;
    bottom: 0;
    block-size: 850px;
    right: 30px;
    filter:drop-shadow(4px 4px 4px rgba(0.25, 0.25, 0.25, 0.25));
}