:root {
    --main-font:  'Open Sans', helvetica, sans-serif normal;
}

body {
    background-color:#9D9A99 ;
}


/* all font stylings  */
h1 {
    font: var( --main-font);
    font-weight: bold;
    font-size: 64px;
    line-height: 85px;

}

h2 {
    font: var( --main-font);
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
}

h3 {
    font: var( --main-font);
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
}
p {
    font: var( --main-font);
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

}


.nav-bar {
    
    /* sticking navbar to top of page  */
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    margin-top: 10px;
    margin-bottom: 10px;
    
    justify-content: center;
    width: 100%;

    font-family: 'Open Sans', helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* makes it uppercase  */
    text-transform: uppercase;
    color: #000000;
}

/* adding dashes inbetween navbar options  */
    .about-me::after {
        content: "/";
    }

    .work::after {
        content: "/";
    }
    .contact-me::after {
        content: "/";
    }

header {
    background-color: #DCCCC3;
    /* maing background colour fit whole background  */
    background-size: cover;
    background-position: center;
    padding: 80px;
    height: 20vh;
    width: 20vw;
    min-width: 100%;
    min-height: 550px;
}


/* header images  */
    #self {
        position: absolute;
        left: 413px;
        top: 215px;
        /* adds filter to photo  */
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #orchid {
        position: absolute;
        width: 450px;
        height: 340px;
        left: 520px;
        top: 182px;  
    }

    #box {
        position: absolute;
        width: 300px;
        height: 320px;
        left: 590px;
        top: 246px;
    }

/*  name title and description  */
    .header-my-name {
        display: flex;
        position: absolute;
        left: 990px;
        top: 300px;
    }

    .header-p {
        display: flex;
        position: absolute;
        left: 995px;
        top: 420px;
    }
    
/* Style h1 and h2  */

#about-me h1 {
    position: absolute;
    width: 219px;
    height: 170px;
    left: 400px;
    top: 720px;
    
}

#about-me p {
    position: absolute;
    width: 714px;
    height: 148px;
    left: 711px;
    top: 700px;

    background-color: #E5E5E5;
    padding: 35px;
    height: 23vh;
}

/* visual section divider element  */
#divider {
    display: flex;
    position: absolute;
    top: 960px;
    left: 335px;

}

#work {
    
    display: flex;
    position: relative;
    
    
    /* turning this section into a 'grid' as a way of displaying the articles */
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;

    background-color: #9D9A99;

    padding: 10px;
    top: 800px;
}

#work article {
    border: 1px solid none;
    text-align: center;
    font-size: 30px;
}

