* {
    background-color: ;
}



h1 {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 85px;

}

p {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

}

.sticky {
    
    /* sticking navbar to top of page  */
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    
    justify-content: center;
    width: 100%;

    font-family: 'Open Sans', helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    margin-top: 10px;

    color: #000000;
}

/* adding dashes inbetween navbar options  */
    .about-me::after {
        content: "/";
    }

    .work::after {
        content: "/";
    }
    .contact-me::after {
        content: "/";
    }

header {
    background-color: #DCCCC3;
    /* maing background colour fit whole background  */
    background-size: cover;
    background-position: center;
    padding: 80px;
    height: 20vh;
    width: 20vw;
    min-width: 100%;
    min-height: 550px;
}


/* header images  */
    #self {
        position: absolute;
        left: 313px;
        top: 115px;
        /* adds filter to photo  */
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #orchid {
        position: absolute;
        width: 450px;
        height: 340px;
        left: 420px;
        top: 82px;  
    }

    #box {
        position: absolute;
        width: 300px;
        height: 320px;
        left: 490px;
        top: 146px;
    }

/* Style h1 and h2  */

#about-me h1 {
    position: absolute;
    width: 219px;
    height: 170px;
    left: 198px;
    top: 586px;
    
}

#about-me p {
    position: absolute;
    width: 714px;
    height: 148px;
    left: 511px;
    top: 601px;

    background-color: #E5E5E5;
    /* make background colour box bigger  */
}


#work {
    
    display: flex;
    position: relative;
    
    
    /* turning this section into a 'grid' as a way of displaying the articles */
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;

    background-color: #9D9A99;

    padding: 10px;
    top: 800px;
}

#work article {
    border: 1px solid none;
    text-align: center;
    font-size: 30px;
}

