:root {
    --main-font:  'Open Sans', helvetica, sans-serif normal;
}

body {
    background-color:#9D9A99 ;
}


/* all font stylings  */
h1 {
    font: var( --main-font);
    font-weight: bold;
    font-size: 64px;
    line-height: 85px;

}

h2 {
    font: var( --main-font);
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
}

h3 {
    font: var( --main-font);
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
}

h4 {
    font: var(--main-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}
p {
    font: var( --main-font);
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

}


.nav-bar {
    
    /* sticking navbar to top of page  */
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    
    justify-content: right;
    width: 100%;

    font-family: 'Open Sans', helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* makes it uppercase  */
    text-transform: uppercase;
    color: #000000;
}

/* adding dashes inbetween navbar options  */
    .hello::after {
        content: "/";
    }

    .about-me::after {
        content: "/";
    }

    .work::after {
        content: "/";
    }
    .contact-me::after {
        content: "/";
    }

#hello {
    background-color: #DCCCC3;
    /* maing background colour fit whole background  */
    background-size: cover;
    background-position: center;
    padding: 80px;
    height: 20vh;
    width: 20vw;
    min-width: 100%;
    min-height: 550px;
}


/* header images  */
    #self {
        position: absolute;
        left: 413px;
        top: 215px;
        /* adds filter to photo  */
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #orchid {
        position: absolute;
        width: 450px;
        height: 340px;
        left: 520px;
        top: 182px;  
    }

    #box {
        position: absolute;
        width: 300px;
        height: 320px;
        left: 590px;
        top: 246px;
    }

/*  name title and description  */
    .header-my-name {
        display: flex;
        position: absolute;
        left: 990px;
        top: 300px;
    }

    .header-p {
        display: flex;
        position: absolute;
        left: 995px;
        top: 420px;
    }
    
    .main {
        max-width: 1000px;
        margin: auto;
    }

/* about me section header and paragraph styling  */
    #about-me h1 {
        position: absolute;
        width: 219px;
        height: 170px;
        left: 400px;
        top: 750px;
        text-transform: uppercase;
        
    }

    #about-me p {
        position: absolute;
        width: 714px;
        height: 148px;
        left: 711px;
        top: 720px;

        background-color: #E5E5E5;
        padding: 35px;
        height: 23vh;
    }

/* visual section divider element  */
    #divider {
        display: flex;
        position: absolute;
        top: 960px;
        left: 335px;

    }
 
#work-title {
    display: flex;
    position: relative;
    top: 350px;
    justify-content:center;

    text-transform: uppercase;
}

#work {
    display: flex;
    position: relative;
    top: 400px;
    justify-content: center;
}

/* setting the area names for each example  */
.horiseon {
    grid-area: Horiseon;
     
  }

.example-2 { grid-area: example-2 ; }
.example-3 { grid-area: example-3 ; }
.example-4 { grid-area: example-4 ; }
.example-5 { grid-area: example-5 ; }

  .work-examples {
      /* turns this section into a grid  */
    display: grid;
    grid-template-areas:
    /* makes first example bigger than others */
     'Horiseon Horiseon Horiseon Horiseon'
     'example-2 example-2 example-3 example-3'
     'example-4 example-4 example-5 example-5'
    ;
    grid-gap: 20px;
    background-color: #C4C4C4;
    padding: 20px;
  }
  
  .work-examples > article {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
  }